.footer{
    display: flex;
    flex-direction: column;
    background-color: $colour-footer;
    padding-top: 15px;
    padding-left: 25px;
    &__name{
       display: block;
    }
    ul{
        list-style-type: none;
        padding: 0px;
    }
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25px;
        i{padding-right: 4px;}
        
    }
}