@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body a {
  color: #000;
}

.fonction__number {
  font-weight: 900;
  font-size: 10px;
}

.description h1 {
  font-size: 25px;
}

.rest__name {
  font-family: "Shrikhand";
}

footer {
  color: #fff;
}
footer .footer__name {
  font-family: "Shrikhand";
  font-size: 20px;
}
footer a {
  color: #fff;
}

a {
  text-decoration: none;
}

.description__btn {
  color: #fff;
  border: #FF79DA;
  background: linear-gradient(#e972da, #a65cdc);
  border-radius: 3.2em;
  width: 15em;
  padding: 1em;
  margin: 1.2em;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.description__btn:hover {
  background: linear-gradient(#ea8fde, #b977e8);
  transition: transform 1000ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* Remplisage du coeur pour mettre dans les favorits*/
.fa-heart {
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  border: none;
}

.fa-heart::before {
  content: "";
  color: #fff;
  font-weight: bold;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  color: #BA55D3;
  cursor: pointer;
  -webkit-text-stroke-color: #BA55D3;
}

/* Loading Spinner : couverture total de la page d'acceuil, durée : entre 1 et 3 sécondes */
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    opacity: 0.2;
  }
}
.spinner {
  animation: spinner 1000ms linear 3;
  animation-play-state: inherit;
  border: solid 10px #759191;
  border-bottom-color: #99E2D0;
  border-radius: 50%;
  content: "";
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@keyframes loading {
  0% {
    opacity: 0;
    background-color: #99E2D0;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: -20%;
  z-index: 1;
  animation: loading 400ms 2000ms both;
}

/* Animation: apparaition du ménu */
@keyframes transition {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.section1 {
  opacity: 0;
  animation: transition 0.5s ease-in-out 1s forwards;
}

.section2 {
  opacity: 0;
  animation: transition 1s ease-in-out 1.5s forwards;
}

.section3 {
  opacity: 0;
  animation: transition 1.5s ease-in-out 2s forwards;
}

/* Animation checkbox des plats */
.dishe__name {
  flex-grow: 1;
}

.box {
  display: flex;
  height: 4em;
  width: 0;
  transition: all 700ms;
  background: #99E2D0;
}
.box .check {
  background-color: #99E2D0;
  color: #fff;
  margin: auto;
  margin-left: 1.6rem;
}
.box .check i {
  font-size: 20px;
}

.dishe {
  display: flex;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.dishe:hover > .box {
  width: 5em;
}
.dishe:hover > .box .check {
  animation: checkbox 700ms 100ms;
}

@keyframes checkbox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #cfcfcf;
  position: relative;
}
.header__logo img {
  height: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-top: 15px;
  padding-left: 25px;
}
.footer__name {
  display: block;
}
.footer ul {
  list-style-type: none;
  padding: 0px;
}
.footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}
.footer li i {
  padding-right: 4px;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  filter: brightness(91%);
  background-color: #f6f6f6;
  padding: 0.6em;
}
.location .fa-location-dot {
  margin-right: 0.3em;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 5% 5% 0% 5%;
  background-color: #f6f6f6;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .description {
    padding: 1% 1% 0% 1%;
  }
}
@media screen and (min-width: 992px) {
  .description {
    padding: 1% 1% 0% 1%;
  }
}

.fonction {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.fonction__title {
  display: flex;
  align-items: flex-start;
}
.fonction__items {
  display: flex;
}
@media screen and (max-width: 576px) {
  .fonction__items {
    flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .fonction__items {
    justify-content: space-between;
  }
}

.fonction__item {
  display: flex;
  flex-direction: row;
  margin: 0.6em;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  align-items: center;
  padding: 1.2em;
  font-weight: 900;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .fonction__item {
    width: 30%;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .fonction__item {
    width: 30%;
    flex-direction: row;
  }
}
.fonction__item i {
  margin-right: 0.6em;
  color: #f6f6f6;
  filter: brightness(50%);
}
.fonction__item:hover {
  background: #ffdff6;
}
.fonction__item:hover i {
  color: #9356DC;
  filter: brightness(1);
}

.fonction__number {
  display: block;
  border-radius: 100%;
  padding: 0.7em 1em;
  background-color: #9356DC;
  color: #fff;
  margin-left: -2.7em;
  margin-right: 10%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  justify-content: space-around;
}
.restaurants__title {
  display: flex;
  margin-left: 10%;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2em;
}
@media screen and (min-width: 992px) {
  .restaurants__cards {
    flex-direction: row;
  }
}

.restaurant__card {
  display: block;
  width: 80%;
  height: 16em;
  background-color: #fff;
  border-radius: 0.6em;
  margin: 0.6em 0.6em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurant__card__photo {
  display: inline-block;
  position: relative;
  height: 75%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.6em 0.6em 0em 0em;
}
.restaurant__card img {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(0em);
  object-fit: cover;
}
.restaurant__card__body {
  display: flex;
  flex-direction: row;
  height: 25%;
}
.restaurant__card__name {
  display: block;
  width: 80%;
  line-height: 0.4em;
  padding: 0.9em;
}
@media screen and (min-width: 992px) {
  .restaurant__card__name {
    line-height: 0.6em;
    padding: 0.4em;
  }
}
.restaurant__card__heart {
  display: inline-block;
  width: 20%;
  font-size: 1.2em;
  text-align: center;
  padding-top: 1.2em;
}
.restaurant__card--etiquette {
  display: block;
  position: absolute;
  border-radius: 3px;
  padding: 0.5em 0.6em;
  background-color: #99E2D0;
  top: 1.5em;
  right: 1.2em;
  color: #278870;
  font-weight: bolder;
}

header {
  position: relative;
  align-items: center;
  justify-content: center;
}
header i {
  position: absolute;
  left: 2.5em;
  top: 1em;
  font-size: 1.3em;
}

.rest__home {
  position: relative;
  background-color: #f6f6f6;
}

.rest__name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  border-radius: 2.5em;
  background-color: #f6f6f6;
  margin-top: -2.2em;
}
.rest__name i {
  font-size: 1.2em;
}

.rest__photo {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 21.8em;
}
.rest__photo img {
  width: 100%;
  height: 100%;
  transform: translate(0em);
  object-fit: cover;
}

.rest__main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 0.6em;
  padding-top: 3em;
  width: 100%;
}

.rest__menu {
  display: inline-block;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*
  .trait{
      border-bottom: 0.3em solid $colour-tertiairy;
      width: 3em;
      margin-left: 0.7em;
  }
  */
}
@media screen and (min-width: 992px) {
  .rest__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .rest__menu {
    flex-direction: column;
  }
}

.btn {
  text-align: center;
}

.btn__order {
  color: #fff;
  border: #FF79DA;
  background: linear-gradient(#e972da, #a65cdc);
  border-radius: 3.2em;
  width: 15em;
  padding: 1em;
  margin: 1.2em;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn__order:hover {
  background: linear-gradient(#ea8fde, #b977e8);
  transition: transform 1000ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.rest__menu__section {
  display: flex;
  padding: 1em;
}
.rest__menu__section .section__titre {
  width: 30%;
  justify-content: left;
  padding-left: 0.7em;
  color: #848484;
}
.rest__menu__section h2 {
  margin-block-end: 0;
}
.rest__menu__section .section__titre::after {
  content: "";
  display: block;
  width: 2.7rem;
  height: 3px;
  background: #99E2D0;
  margin-top: 0.1rem;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .rest__menu__section {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  .rest__menu__section {
    flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .rest__menu__section {
    flex-direction: column;
    width: 33%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .dishes {
    width: 70%;
  }
}

.dishe {
  display: flex;
  flex-direction: row;
  border-radius: 0.6em;
  margin: 0.6em;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .dishe {
    display: inline-flex;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .dishe {
    width: 100%;
  }
}
.dishe__name {
  display: block;
  width: 10em;
  padding: 0.6em;
}
.dishe__name h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishe__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 8em;
  padding: 0.6em;
}
.dishe__info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main {
  background-color: #f6f6f6;
}

h3 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
