/* Bouton page d'acceuil et bouton "commander" sur la page de restaurant */


/* Remplisage du coeur pour mettre dans les favorits*/
.fa-heart {
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: black;
    border: none;
}

.fa-heart::before {
    content: "";
    color: $colour-white;
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: #BA55D3;
    cursor: pointer;
    -webkit-text-stroke-color: #BA55D3;
}

/* Loading Spinner : couverture total de la page d'acceuil, durée : entre 1 et 3 sécondes */
/*
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
      opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
      opacity: 0.2;
    }
}
  .spinner::before {
    animation: 1000ms linear 3 spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: $colour-tertiairy;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    z-index: 0; 
}



@keyframes loading{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: -20%;
    z-index: 1;
    animation: loading 3000ms 3000ms both;
}

/* Animation: apparaition du ménu */

/*
@keyframes transition {
    0%   { margin-left: -70px;opacity:0; }
    100% { margin-left: 0;opacity:1; }
}

.section1 {
    opacity:0;
    animation: transition 0.5s ease-in-out 1s forwards;
}
    
.section2 {
    opacity:0;
    animation: transition 1s ease-in-out 1.5s forwards;
}

.section3 {
    opacity:0;
    animation: transition 1.5s ease-in-out 2s forwards;
}
*/


/* Animation checkbox des plats */
.dishe__name {
    flex-grow: 1;
    
}
.box {
    display: flex;
    height: 4em;
    width: 0;
    transition: all 1000ms;
    background: $colour-tertiairy;
    .check {
        background-color: $colour-tertiairy;
        color: $colour-white;
        margin: auto;
        transition: transform 500ms;
        transform: rotate(360deg);
        i {
            font-size: 20px;
        }
    }
}

.dishe {
    display: flex;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
  
    &:hover > .box {
      width: 5em;
      .check {
        transform: rotate(0deg);
      }
    }
  }


