header{
    position: relative;
    align-items: center;
    justify-content: center;
    i{
        position: absolute;
        left: 2.5em;
        top: 1em;
        font-size: 1.3em;
    }
}

.rest__home{
    position: relative;
    background-color: $colour-grey;
}
.rest__name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    border-radius: 2.5em;
    background-color: $colour-grey;
    margin-top: -2.2em;
    i {
        font-size: 1.2em;
    }
}

.rest__photo{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 21.8em;
    img{
        width: 100%;
        height: 100%;
        transform: translate(0em);
        object-fit: cover;
    }
}

.rest__main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 0.6em;
    padding-top: 3em;
    width: 100%;
}

.rest__menu {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    @include desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start
    }
    @include mobile;
    /*
    .trait{
        border-bottom: 0.3em solid $colour-tertiairy;
        width: 3em;
        margin-left: 0.7em;
    }
    */
}

.btn {
    text-align: center;
}

.btn__order {
    @include btn;
}

.rest__menu__section{
    display: flex;
    padding: 1em;
    .section__titre {
        width: 30%;
        justify-content: left;
        padding-left: .7em;
        color: #848484;
    }
    h2{margin-block-end: 0;}
    .section__titre::after{
        content: '';
        display: block;
        width: 2.7rem;
        height: 3px;
        background: $colour-tertiairy;
        margin-top: .1rem;
    }
    @include tablette {
        display: flex;
        flex-direction: row;
    }
    @include mobile {
        flex-direction: column;
    }
    @include desktop {
        flex-direction: column;
        width: 33%;
    }
} 

.dishes {
    @include tablette {
        width: 70%;
    }
}

.dishe{
    display: flex;
    flex-direction: row;
    border-radius: 0.6em;
    margin: 0.6em;
    background-color: $colour-white; 
    @include shadow;   
    @include tablette{
        display: inline-flex;
        width: 80%;
    }
    @include desktop {
        width: 100%;    
    }
    &__name {
        display: block;
        width: 10em;
        padding: 0.6em;
        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
    }
    &__price{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 8em;
        padding: 0.6em;
    }
    &__info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

main {
    background-color: $colour-grey;
}
h3{
    margin: 0;
}


