@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@mixin btn {
    color: $colour-white;
    border: $colour-secondary;
    background: linear-gradient(#e972da, #a65cdc);
    border-radius: 3.2em;
    width: 15em;
    padding: 1em;
    margin: 1.2em;
    font-size: 1.2em;
    @include shadow;
    &:hover{
        background: linear-gradient(#ea8fde, #b977e8);
        transition: transform 1000ms;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }
}
 
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, 'mobile')) and (max-width: map-get($breakpoints, 'tablette')){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, 'desktop')){
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, 'mobile')){
        flex-direction: column;
        @content;
    }
}

